<!--====== LIST ======-->
<div class="no-matches" ng-if="!orders.list.Items.length">
    <b>No matches found.</b>
</div>
<div ng-if="orders.list.Items.length">
    <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? orders.list.Meta.ItemRange[0] : '1') + ' - ' + orders.list.Meta.ItemRange[1] + ' of ' + orders.list.Meta.TotalCount + ' results'}}</b>
    <table class="table table-hover table-condensed oc-table-responsive">
        <thead>
        <tr>
            <th scope="col">
                <a href="#" role="button" ng-click="orders.updateSort('ID')">
                    {{orders.labels.Order}}
                    <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'ID'"></i>
                    <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!ID'"></i>
                </a>
            </th>
            <th scope="col">
                {{orders.labels.contractNo}}
            </th>
            <th scope="col">
                {{orders.labels.poNumber}}
            </th>
            <th scope="col">
                {{orders.labels.businessName}}
            </th>
            <th scope="col">
                <a href="#" role="button" ng-click="orders.updateSort('OrderedBy')">
                    {{orders.labels.orderedBy}}
                    <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'OrderedBy'"></i>
                    <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!OrderedBy'"></i>
                </a>
            </th>
            <th scope="col">
                <a href="#" role="button" ng-click="orders.updateSort('Total')">
                    {{orders.labels.orderValue}}
                    <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'Total'"></i>
                    <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!Total'"></i>
                </a>
            </th>
            <th scope="col">
                <a href="#" role="button" ng-click="orders.updateSort('OrderDate')">
                    {{orders.labels.dateOrdered}}
                    <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'OrderDate'"></i>
                    <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!OrderDate'"></i>
                </a>
            </th>
            <th scope="col">
                {{orders.labels.confirmedBy}}
            </th>
            <th scope="col">
                {{orders.labels.dateDespatched}}
            </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="order in orders.list.Items">
            <th cope="row">{{order.ID}}</th>
            <td>{{order.xp.ContractNumber}}</td>
            <td>{{order.xp.PONumber}}</td>
            <td>{{order.xp.CustomerName}}</td>
            <td>{{order.FromUser.FirstName}} {{order.FromUser.LastName}}</td>
            <td class="text-left" ng-switch on="order.xp.CustomerID | weirGroupFromBuyersID">
                <span ng-switch-when="WPIFR">{{order.Total | currency: '&euro;'}}</span>
                <span ng-switch-when="WVCUK">{{order.Total | currency: '&#163;'}}</span>
                <span ng-switch-default>{{order.Total | currency:'&#163;'}}</span>
            </td>
            <td>{{order.DateSubmitted | weirdate}}</td>
            <td>{{order.xp.ReviewerName}}</td>
            <td>{{order.xp.DateDespatched | weirdate}}</td>
            <td><button class="btn btn-primary" ng-click="orders.View(order.ID, order.xp.BuyerID, order.xp.CustomerID, order.xp.CustomerName)">{{orders.labels.view}}</button></td>
        </tr>
        </tbody>
    </table>
</div>