<!--====== LIST ======-->
<div class="no-matches" ng-if="!orders.list.Items.length">
    <b>No matches found.</b>
</div>
<div ng-if="orders.list.Items.length">
    <b class="pull-right">{{(application.$ocMedia('min-width:768px') ? orders.list.Meta.ItemRange[0] : '1') + ' - ' + orders.list.Meta.ItemRange[1] + ' of ' + orders.list.Meta.TotalCount + ' results'}}</b>
    <table class="table table-hover table-condensed oc-table-responsive">
        <thead>
            <tr>
                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('ID')">
                        {{orders.labels.Quote}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'ID'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!ID'"></i>
                    </a>
                </th>
                <th scope="col">
                    {{orders.labels.customerRef}}
                </th>
                <th scope="col">
                    {{orders.labels.businessName}}
                </th>
                <th scope="col">
                    <span>
                        {{orders.labels.submittedBy}}
                    </span>
                </th>
                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('Total')">
                        {{orders.labels.quoteValue}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'Total'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!Total'"></i>
                    </a>
                </th>

                <th scope="col">
                    <a href="#" role="button" ng-click="orders.updateSort('DateCreated')">
                        {{orders.labels.dateSubmitted}}
                        <i class="fa fa-caret-down" ng-show="orders.parameters.sortBy == 'DateCreated'"></i>
                        <i class="fa fa-caret-up" ng-show="orders.parameters.sortBy == '!DateCreated'"></i>
                    </a>
                </th>
                <th>
                    {{orders.labels.dateDeleted}}
                </th>
                <th scope="col">
                    {{orders.labels.reviewer}}
                </th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="order in orders.list.Items">
                <th scope="row">{{order.ID}}</th>
                <td>{{order.xp.RefNum}}</td>
                <td>{{order.xp.CustomerName}}</td>
                <td>{{order.FromUser.FirstName}} {{order.FromUser.LastName}}</td>
                <td class="text-left">
                    <span ng-bind-html="order.Total | defaultCurrency:order.xp.Currency.ConvertTo:(order.xp.CustomerID | weirGroupFromBuyersID)"></span>
                </td>
                <td>
                    <span ng-if="order.DateCreated" ng-bind-html="orders.dateOf(order.DateCreated) | weirdate : orders.WeirGroup"></span>
                    <span ng-if="!order.DateCreated"></span>
                </td>
                <td>
                    <span ng-if="order.xp.DateDeleted" ng-bind-html="orders.dateOf(order.xp.DateDeleted) | weirdate : orders.WeirGroup"></span>
                    <span ng-if="!order.xp.DateDeleted"></span>
                </td>
                <td>{{order.xp.ReviewerName}}</td>
                <td><button class="btn btn-primary" ng-click="orders.View(order.ID, order.xp.BuyerID, order.xp.CustomerID, order.xp.CustomerName)">{{orders.labels.view}}</button></td>
                <td><button class="btn-archive" ng-click="orders.archive(order.ID);"></button></td>
            </tr>
        </tbody>
    </table>
</div>
