<article id="COMPONENT_order" ui-view class="container-fluid">
    <div class="row" ng-show="false">
        <div class="col-lg-2">About Batley</div>
        <div class="col-lg-2">About Blakeborough</div>
        <div class="col-lg-2">About Hopkinsons</div>
        <div class="col-lg-2">Quick Quote</div>
        <div class="col-lg-2"><a ui-sref="productSearch">Search</a></div>
        <div class="col-lg-2"></div>
    </div>
    <!-- header -->
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified" style="padding-top: 20px; background-color: rgb(248, 248, 248)">
                <ul class="nav navbar-nav navbar-left">
                    <li style="padding: 10px 5px 0px 0px;">
                        <span ng-bind-html='order.labels.status'></span><br />
                        <h4>
                            <span ng-bind-html='order.Status.label'></span>;
                            <span ng-bind-html='order.Order.xp.StatusDate | weirdate'></span>
                        </h4>
                    </li>
                    <li style="padding: 10px 0px 0px 10px;" ng-show="order.Order.xp.PONumber!=null">
                        <span ng-bind-html='order.labels.PONumber'></span><br />
                        <h4><span ng-bind-html='order.Order.xp.PONumber'></span></h4>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-click="order.Confirm(base.currentUser)" style="padding: 0px 10px 0px 0px;" ng-if="order.ShowConfirm()">
                        <button type="button" class="btn btn-lg btn-success"><span ng-bind-html='order.labels.Confirm'></span></button>
                    </li>
                    <li ng-click="order.Revise(base.currentUser)" style="padding: 0px 10px 0px 10px;" ng-if="order.ShowRevise()">
                        <button type="button" class="btn btn-lg btn-warning"><span ng-bind-html='order.labels.Revise'></span></button>
                    </li>
                    <li ng-click="order.ShareRevision(base.currentUser)" style="padding: 0px 10px 0px 10px;" ng-if="order.ShowShareRevision()">
                        <button type="button" class="btn btn-lg btn-primary"><span ng-bind-html='order.labels.ShareRevision'></span></button>
                    </li>
                    <li ng-click="order.Update()" style="padding: 0px 10px 0px 10px;" ng-if="order.ShowUpdate()">
                        <button type="button" class="btn btn-lg btn-primary"><span ng-bind-html="order.labels.Update"></span></button>
                    </li>
                    <li ng-click="order.Comments()" style="padding: 0px 10px 0px 5px;">
                        <a role="button" class="btn btn-lg btn-default" href="#Comments"><span ng-bind-html="order.labels.Comments"></span></a>
                    </li>
                    <li style="padding: 0px 10px 0px 0px;">
                        <button type="button" class="btn btn-lg btn-default" ng-csv="order.ToCsvJson" filename="{{order.CsvFilename}}" ng-bind-html="order.labels.Download"></button>
                    </li>
                    <li ng-click="order.Print()">
                        <button type="button" class="btn btn-lg btn-default"><span ng-bind-html='order.labels.Print'></span></button>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
    <!-- Table -->
     <div class="row">
         <div class="col-md-9">
             <p class="directions" ng-show="order.Order.xp.Status=='RE'">
                 <span ng-bind-html="order.labels.Directions"></span>
                 <br>
                 <span ng-bind-html="order.labels.DirectionsCont"></span>
             </p>
             <p>
                 <b><span ng-show="order.Order.xp.Type=='Order'" ng-bind-html='order.labels.WeirOrderNo'></span>
                     <span ng-show="order.Order.xp.Type=='Quote'" ng-bind-html='order.labels.WeirQuoteNo'></span>
                     <span class="text-danger">{{order.Order.ID}}</span></b>
             </p>
             <p><b><span ng-bind-html='order.labels.QuoteRef'></span><span class="text-danger">{{order.Order.xp.RefNum}}</span></b></p>
             <p ng-show="order.Order.xp.Type=='Order'">
                 <b>
                     <span ng-bind-html='order.labels.PONumber'></span>
                     <span class="text-danger" ng-hide="order.Order.xp.Status=='SE'">{{order.Order.xp.PONumber}}</span>
                     <span ng-show="order.Order.xp.Status=='SE'">
                         <input type="text" ng-model="order.Order.xp.PONumber" /> <button class="btn btn-sm btn-primary" ng-bind-html="order.labels.Add" ng-click="order.UpdatePO()"></button>
                    </span>
                 </b>
             </p>
         </div>
         <div class="col-md-3">
             <div class="pull-right" style="padding: 30px 25px 0px 0px; float: right;">
                 <p><a ng-if="order.Order.xp.Type == 'Quote' && order.Order.xp.Status!='SB' && order.Order.xp.Status!='SP'" href="#" ui-sref="home">Back to Quotes</a></p>
                 <p><a ng-if="order.Order.xp.Type == 'Order'" href="#" ui-sref="home">Back to Orders</a></p>
                 <p><button type="button" class="btn btn-primary btn-lg" style="background-color: darkgreen;" ui-sref="productSearch" ng-bind-html='order.labels.AddNewItems' ng-show="order.Order.xp.Status=='RE'" ng-if="order.ShowAddItems()"></button></p>
                 <p><button type="button" class="btn btn-primary btn-lg" style="background-color: darkgreen;" ng-click="order.AddBlankItem()" ng-bind-html='order.labels.AddABlankItem' ng-show="order.Order.xp.Status=='RE'" ng-if="order.ShowAddItems()"></button></p>
             </div>
         </div>
     </div>

     <div class="row" style="width: 65%">
         <div class="col-lg-12">
             <table class="table table-bordered oc-table-responsive weir-results-table" style="float: left;border-right: 0">
                 <thead class="header-cell">
                 <tr style="background-color: blue; color: white;">
                     <th ng-bind-html='order.labels.SerialNum'></th>
                     <th ng-bind-html='order.labels.TagNum'></th>
                     <th ng-bind-html='order.labels.PartNum'></th>
                     <th ng-bind-html='order.labels.Description'></th>
                     <th ng-bind-html='order.labels.RecReplacement'></th>
                     <th ng-bind-html='order.labels.LeadTimeAvailability'></th>
                     <th ng-bind-html='order.labels.PricePerItem'></th>
                     <th ng-bind-html='order.labels.Quantity'></th>
                     <th style="border:0;background-color: white;width:200px"></th>
                 </tr>
                 </thead>
                 <tbody>
                 <tr ng-repeat="line in order.LineItems.Items" style="border-right-width: 0;">
                     <td>{{line.xp.SN}}</td>
                     <td>{{line.xp.TagNumber}}</td>
                     <td>{{line.Product.Name}}</td>
                     <td>{{line.Product.Description}}</td>
                     <td>{{line.Product.xp.ReplacementSchedule}}</td>

                     <!-- Non-review fields -->
                     <td ng-if="order.Order.xp.Status!='RE'">
                         <span ng-show="line.xp.LeadTime==null">{{line.Product.xp.LeadTime}}</span>
                         <span ng-show="line.xp.LeadTime!=null">{{line.xp.LeadTime}}</span>
                     </td>
                     <td ng-switch on="myquote.Quote.xp.Currency" class='text-right' ng-if="order.Order.xp.Status!='RE'">
                         <span ng-switch-when="EUR">{{line.UnitPrice | currency:'&euro; '}}</span>
                         <span ng-switch-when="GBP">{{line.UnitPrice | currency:'&#163; '}}</span>
                         <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                     </td>
                     <td ng-if="order.Order.xp.Status!='RE'">
                         {{line.Quantity}}
                     </td>

                     <!-- review mode fields -->
                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="text" class="form-control input-sm" ng-show="line.xp.LeadTime==null" ng-model="line.Product.xp.LeadTime" />
                         <input type="text" class="form-control input-sm" ng-show="line.xp.LeadTime!=null" ng-model="line.xp.LeadTime" />
                     </td>
                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="" class="form-control input-sm" ng-model="line.UnitPrice" />
                     </td>
                     <td ng-if="order.Order.xp.Status=='RE'">
                        <input type="number" class="form-control input-sm" ng-model="line.Quantity" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" />
                     </td>

                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.EditLineItem(line)"></span>
                             <span class="label label-warning" ng-show="order.ShowUpdated(line)" ng-bind-html="order.labels.Updated"></span>
                             <span class="label label-success" ng-show="order.ShowNew(line)" ng-bind-html="order.labels.New"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr ng-repeat="line in order.BlankItems">
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.SN" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.TagNumber" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.ProductName" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.Description" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.ReplacementSchedule" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.LeadTime" /></td>
                     <td><input type="float" class="form-control input-sm" ng-model="line.UnitPrice" /></td>
                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="number" class="form-control input-sm" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-model="line.Quantity" />
                     </td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.AddBlankItem(line)"></span>
                             <span class="label label-success" ng-bind-html="order.labels.New"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr ng-repeat="line in order.PreviousLineItems">
                     <td>{{line.xp.SN}}</td>
                     <td>{{line.xp.TagNumber}}</td>
                     <td>{{line.Product.Name}}</td>
                     <td>{{line.Product.Description}}</td>
                     <td>{{line.Product.xp.ReplacementSchedule}}</td>

                     <td ng-if="order.Order.xp.Status!='RE'">{{line.Product.xp.LeadTime}}</td>
                     <td ng-switch on="myquote.Quote.xp.Currency" class='text-right' ng-if="order.Order.xp.Status!='RE'">
                         <span ng-switch-when="EUR">{{line.UnitPrice | currency:'&euro; '}}</span>
                         <span ng-switch-when="GBP">{{line.UnitPrice | currency:'&#163; '}}</span>
                         <span ng-switch-default>{{line.UnitPrice | currency:'&#163; '}}</span>
                     </td>
                     <td ng-if="order.Order.xp.Status!='RE'">
                         {{order.Zero}}
                     </td>

                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="text" class="form-control" ng-model="line.Product.xp.LeadTime" />
                     </td>
                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="" class="form-control" ng-model="line.UnitPrice" />
                     </td>
                     <td ng-if="order.Order.xp.Status=='RE'">
                         <input type="number" class="form-control" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-model="line.TempQty" />
                     </td>

                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.AddLineItem(line)"></span>
                             <span class="label label-danger" ng-bind-html="order.labels.Removed"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr ng-if="order.LineItems.Items.length > 0">
                     <td class="button-th" colspan="5"></td>
                     <td ng-bind-html='order.labels.Total'></td>
                     <td ng-switch on="order.Order.xp.Currency" class='text-right'>
                         <span ng-switch-when="EUR">{{order.Order.Total | currency:'&euro; '}}</span>
                         <span ng-switch-when="GBP">{{order.Order.Total | currency:'&#163; '}}</span>
                         <span ng-switch-default>{{order.Order.Total | currency:'&#163; '}}</span>
                     </td>
                 </tr>
                 </tbody>
             </table>
         </div>
     </div>

     <div class="row" style="padding: 5px 5px 5px 5px;">
         <div class="col-md-6">
             <!-- ToDo footer stuff -->
             <strong><span ng-bind-html='order.labels.YourRefNo'></span></strong><br /><span ng-bind-html='order.Order.xp.RefNum'></span>
         </div>
         <div class="col-md-6" style="float: right">
             <!-- ToDo footer stuff -->
             <strong><span ng-bind-html='order.labels.YourAttachments'></span></strong><br />
             <p ng-repeat="fileName in order.Order.xp.Files">
                 <a href="{{order.GetFileUrl(fileName)}}" target="_blank">{{fileName}}</a>
             </p>
             <p ng-hide="order.Order.xp.Status=='SE'">
                 <a href="{{order.GetFileUrl(order.Order.xp.PODocument)}}" target="_blank">{{order.Order.xp.PODocument}}</a>
             </p>
             <p ng-show="order.Order.xp.Status=='SE'">
                 <ordercloud-po-upload model="order.Order" keyname="PODocument" label=''></ordercloud-po-upload>
             </p>
         </div>
     </div>
    <div class="row" style="padding: 5px 5px 5px 5px;">
        <div class="col-md-6">
            <!-- ToDo footer stuff -->
            <strong><span ng-bind-html='order.labels.DelieveryAddress'></span></strong><br />
            <div ng-if="order.DeliveryAddress.Country=='FR'">
                <!--{{order.DeliveryAddress.CompanyName}}<br>-->
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                {{order.DeliveryAddress.Street1}}<br>
                {{order.DeliveryAddress.Street2}}<br>
                {{order.DeliveryAddress.Zip}} {{order.DeliveryAddress.City}}<br>
                {{order.country(order.DeliveryAddress.Country)}}
            </div>
            <div ng-if="order.DeliveryAddress.Country=='GB'">
                <!--{{order.DeliveryAddress.CompanyName}}<br>-->
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                {{order.DeliveryAddress.Street1}}<br>
                {{order.DeliveryAddress.Street2}}<br>
                {{order.DeliveryAddress.City}}<br>
                {{order.DeliveryAddress.Zip}}<br>
                {{order.country(order.DeliveryAddress.Country)}}
            </div>
            <div ng-if="order.DeliveryAddress.Country!='GB' && order.DeliveryAddress.Country!='FR'">
                <!--{{order.DeliveryAddress.CompanyName}}<br>-->
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                {{order.DeliveryAddress.Street1}}<br>
                {{order.DeliveryAddress.Street2}}<br>
                {{order.DeliveryAddress.City}}, {{order.DeliveryAddress.State}} {{order.DeliveryAddress.Zip}}<br>
                {{order.country(order.DeliveryAddress.Country)}}
            </div>
        </div>
        <div class="col-md-6" style="float: right">
            <!-- ToDo footer stuff -->
            <strong><span ng-bind-html='order.labels.YourComments'></span></strong> <br /><span ng-bind-html='order.Order.Comments'></span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="order.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in order.Order.xp.CommentsToWeir"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-lg-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="order.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row" ng-hide="order.ShowCommentBox">
                <div class="col-lg-12">
                    <button class="btn btn-lg btn-default" ng-bind-html="order.labels.Comment" ng-click="order.ShowCommentBox=true"></button>
                </div>
            </div>
            <div class="row" ng-show="order.ShowCommentBox">
                <div class="col-lg-12">
                    <textarea cols="100" rows="6" ng-model="order.CommentToWeir"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="order.labels.Add" ng-click="order.AddNewComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="order.labels.Cancel" ng-click="order.ShowCommentBox=false"></button>
                </div>
            </div>
        </div>
    </div>
</article>