<article id="COMPONENT_order" ui-view class="container-fluid">
    <div class="row" ng-show="false">
        <div class="col-lg-2">About Batley</div>
        <div class="col-lg-2">About Blakeborough</div>
        <div class="col-lg-2">About Hopkinsons</div>
        <div class="col-lg-2">Quick Quote</div>
        <div class="col-lg-2"><a ui-sref="productSearch">Search</a></div>
        <div class="col-lg-2"></div>
    </div>
    <!-- header -->
    <div class="row">
        <div class="col-lg-12">
            <ul class="nav nav-tabs nav-justified" style="padding-top: 20px; background-color: rgb(248, 248, 248)">
                <li>
                    <ul class="nav navbar-nav navbar-left">
                        <li style="padding: 10px 16px 0px 0px;">
                            <span ng-bind-html='order.labels.status'></span><br />
                            <h4>
                                <span ng-bind-html='order.Status.label'></span>;
                                <span ng-bind-html='order.Order.xp.StatusDate | weirdate'></span>
                            </h4>
                        </li>
                        <li style="padding: 10px 16px 0px 0px;">
                            <span ng-if="order.showReviewer" ng-bind-html='order.labels.reviewer'></span>
                            <br />
                            <h4>
                                <span ng-if='order.showReviewer && order.Order.xp.ReviewerName' ng-bind-html="order.Order.xp.ReviewerName"></span>
                                <span ng-if='order.showReviewer && !order.Order.xp.ReviewerName' ng-bind-html='order.labels.unassigned'></span>
                            </h4>
                        </li>
                        <li style="padding: 10px 16px 0px 10px;" ng-show="order.Order.xp.PONumber!=null">
                            <span ng-bind-html='order.labels.PONumber'></span><br />
                            <h4>
                                <span ng-bind-html='order.Order.xp.PONumber'></span>
                            </h4>
                        </li>
                        <li style="padding: 10px 16px 0px 10px;">
                            <span ng-bind-html='order.labels.Language'></span><br />
                            <h4>
                                <span ng-bind-html="order.getLanguage()"></span>
                            </h4>
                        </li>
                        <li style="padding: 10px 16px 0px 10px;">
                            <span ng-bind-html='order.labels.Currency'></span><br />
                            <h4>
                                <span ng-bind-html="order.xp.Curr"></span>
                            </h4>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-if="order.showAssign" ng-click="order.AssignToMe()" style="padding: 0px 10px 0px 0px;">
                            <button type="button" class="btn btn-lg btn-primary"><span ng-bind-html='order.labels.AssignToMe'></span></button>
                        </li>
                        <li style="padding: 0px 10px 0px 0px;" ng-if="order.ShowConfirm()">
                            <button type="button" ng-click="order.Confirm(base.currentUser)" class="btn btn-lg btn-success" ng-disabled="order.LineItemZero() || order.InvalidPO()">
                                <span ng-bind-html='order.labels.Confirm'></span>
                            </button>
                        </li>
                        <li ng-click="order.Revise(base.currentUser)" style="padding: 0px 10px 0px 10px;" ng-if="order.ShowRevise()">
                            <button type="button" class="btn btn-lg btn-warning"><span ng-bind-html='order.labels.Revise'></span></button>
                        </li>
                        <li style="padding: 0px 10px 0px 10px;" ng-if="order.ShowShareRevision()">
                            <button type="button" class="btn btn-lg btn-primary" ng-click="order.ShareRevision(base.currentUser)" ng-disabled="order.LineItemZero()">
                                <span ng-bind-html='order.labels.ShareRevision'></span>
                            </button>
                        </li>
                        <li ng-click="order.Update()" style="padding: 0px 10px 0px 10px;" ng-if="order.ShowUpdate()">
                            <button type="button" class="btn btn-lg btn-primary"><span ng-bind-html="order.labels.Update"></span></button>
                        </li>
                        <li ng-click="order.Comments()" style="padding: 0px 10px 0px 5px;">
                            <a role="button" class="btn btn-lg btn-default" href="#Comments"><span ng-bind-html="order.labels.Comments"></span></a>
                        </li>
                        <li style="padding: 0px 10px 0px 0px;">
                            <button type="button" class="btn btn-lg btn-default" ng-csv="order.ToCsvJson" add-bom="true" filename="{{order.CsvFilename}}" ng-bind-html="order.labels.Download"></button>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- Table -->
     <div class="row">
         <div class="col-md-9">
             <p class="directions" ng-show="order.Order.xp.Status=='RE'">
                 <span ng-bind-html="order.labels.Directions"></span>
                 <br>
                 <span ng-bind-html="order.labels.DirectionsCont"></span>
             </p>
             <p>
                 <b>
                     <span ng-show="order.Order.xp.Type=='Order'" ng-bind-html='order.labels.WeirOrderNo'></span>
                     <span ng-show="order.Order.xp.Type=='Quote'" ng-bind-html='order.labels.WeirQuoteNo'></span>
                     <span class="text-danger" ng-bind-html="order.Order.ID"></span>
                 </b>
             </p>
             <p><b><span ng-bind-html="order.labels.QuoteRef"></span><span class="text-danger" ng-bind-html="order.Order.xp.RefNum"></span></b></p>
             <p><b><span ng-bind-html="order.labels.QuoteName"></span><span class="text-danger" ng-bind-html="order.Order.xp.Name"></span></b></p>
             <p ng-show="(order.Order.xp.Status=='CQ'||order.Order.xp.Status=='SE')&&order.showAssign==false">
                 <b>
                    <span ng-bind-html='order.labels.PONumber'></span>
                    <span ng-if="order.showAssign==true" class="text-danger" ng-bind-html="order.Order.xp.PONumber"></span>
                    <span ng-if="order.showAssign!=true">
                        <input type="text" ng-model="order.Order.xp.PONumber" placeholder="{{order.labels.POPlaceHolder}}" ng-enter="order.UpdatePO()" />
                        <button class="btn btn-sm btn-primary" ng-bind-html="order.labels.Add" ng-click="order.UpdatePO()"></button>
                    </span>

                 </b>
             </p>
             <span ng-show="(order.Order.xp.Status=='CQ'||(order.Order.xp.Type=='Order'&&(!order.Order.xp.PODocument||order.Order.xp.PODocument=='undefined')))&&order.showAssign==false">
                <ordercloud-po-upload model="order.Order" keyname="PODocument" label=''></ordercloud-po-upload>
             </span>
         </div>
     </div>

     <div class="row">
         <div class="col-xs-9">
             <table ng-if="order.Order.xp.Status=='EN' || order.Order.xp.Status=='ER'" class="enquiry">
                 <thead>
                     <tr>
                         <th colspan="2" ng-bind-html="order.labels.PartTypes"></th>
                     </tr>
                 </thead>
                 <tbody>
                    <tr>
                        <td ng-bind-html="order.labels.SerialNum"></td>
                        <td class="data" ng-bind-html="order.Order.xp.SN"></td>
                    </tr>
                    <tr>
                        <td ng-bind-html="order.labels.Brand"></td>
                        <td class="data" ng-bind-html="order.Order.xp.Brand"></td>
                    </tr>
                    <tr>
                        <td ng-bind-html="order.labels.ValveType"></td>
                        <td class="data" ng-bind-html="order.Order.xp.ValveType"></td>
                    </tr>
                 </tbody>
             </table>
             <br>
             <table class="table table-bordered oc-table-responsive weir-results-table" style="float: left;border-right: 0">
                 <thead class="header-cell">
                 <tr style="background-color: blue; color: white;">
                     <th ng-bind-html='order.labels.SerialNum'></th>
                     <th ng-bind-html='order.labels.TagNum'></th>
                     <th ng-bind-html='order.labels.PartNum'></th>
                     <th ng-bind-html='order.labels.Description'></th>
                     <th ng-bind-html='order.labels.RecReplacement'></th>
                     <th ng-bind-html='order.labels.LeadTimeAvailability'></th>
                     <th ng-bind-html='order.labels.PricePerItem'></th>
                     <th ng-bind-html='order.labels.Quantity'></th>
                     <th style="border:0;background-color: white;width:200px"></th>
                 </tr>
                 </thead>
                 <tbody>
                 <!-- Standard line items. -->
                 <!-- Have two rows. One shows when in review mode, the other in non-review. In review mode, all fields are editable. -->
                 <!-- Non-review mode -->
                 <tr ng-if="order.Order.xp.Status!='RE' && order.Order.xp.Status!='ER'" ng-repeat="line in order.LineItems" style="border-right-width: 0;">
                     <td ng-bind-html="line.xp.SN"></td>
                     <td ng-bind-html="line.xp.TagNumber"></td>
                     <td>
                         <span ng-bind-html="line.xp.ProductName"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.Description"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.ReplacementSchedule"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.LeadTime"></span>
                     </td>
                     <td ng-switch on="order.Order.xp.CustomerID | weirGroupFromBuyersID" class='text-right'>
                         <span ng-switch-when="WPIFR" ng-bind-html="line.UnitPrice | currency:'&euro; '"></span>
                         <span ng-switch-when="WVCUK" ng-bind-html="line.UnitPrice | currency:'&#163; '"></span>
                         <span ng-switch-default ng-bind-html="line.UnitPrice | currency:'&#163; '"></span>
                     </td>
                     <td ng-bind-html="line.Quantity"></td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-warning" ng-show="line.displayStatus=='UPDATED'" ng-bind-html="order.labels.Updated"></span>
                             <span class="label label-success" ng-show="line.displayStatus=='NEW'" ng-bind-html="order.labels.New"></span>
                         </h4>
                     </td>
                 </tr>
                 <!-- Review Mode -->
                 <tr ng-if="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'" ng-repeat="line in order.LineItems" style="border-right-width: 0;">
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.SN" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.TagNumber" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.ProductName" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.Description" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.ReplacementSchedule" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.LeadTime" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.UnitPrice" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="number" class="form-control input-sm" ng-model="line.Quantity" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-enter="order.NoOp()" />
                     </td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.EditLineItems()"></span>
                            <span class="label label-warning" ng-show="line.displayStatus=='UPDATED'" ng-bind-html="order.labels.Updated"></span>
                             <span class="label label-success" ng-show="line.displayStatus=='NEW'" ng-bind-html="order.labels.New"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr ng-repeat="line in order.BlankItems">
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.SN" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.TagNumber" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.ProductName" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.Description" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.ReplacementSchedule" /></td>
                     <td><input type="text" class="form-control input-sm" ng-model="line.xp.LeadTime" /></td>
                     <td><input type="float" class="form-control input-sm" ng-model="line.UnitPrice" /></td>
                     <td ng-if="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'">
                         <input type="number" class="form-control input-sm" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-model="line.Quantity" />
                     </td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.AddBlankItem(line)"></span>
                             <span class="label label-success" ng-bind-html="order.labels.New"></span>
                         </h4>
                     </td>
                 </tr>

                 <!-- Previous Line Items Non-review Mode -->
                 <tr ng-if="order.Order.xp.Status!='RE' && order.Order.xp.Status!='ER'" ng-repeat="line in order.PreviousLineItems" style="border-right-width: 0;">
                     <td ng-bind-html="line.xp.SN"></td>
                     <td ng-bind-html="line.xp.TagNumber"></td>
                     <td>
                         <span ng-bind-html="line.xp.ProductName"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.Description"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.ReplacementSchedule"></span>
                     </td>
                     <td>
                         <span ng-bind-html="line.xp.LeadTime"></span>
                     </td>
                     <td ng-switch on="order.Order.xp.CustomerID | weirGroupFromBuyersID" class='text-right'>
                         <span ng-switch-when="WPIFR" ng-bind-html="line.UnitPrice | currency:'&euro; '"></span>
                         <span ng-switch-when="WVCUK" ng-bind-html="line.UnitPrice | currency:'&#163; '"></span>
                         <span ng-switch-default ng-bind-html="line.UnitPrice | currency:'&#163; '"></span>
                     </td>
                     <td ng-bind-html="line.TempQty"></td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-danger" ng-bind-html="order.labels.Removed"></span>
                         </h4>
                     </td>
                 </tr>
                <!-- Previous Line Items Review Mode -->
                 <tr ng-if="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'" ng-repeat="line in order.PreviousLineItems" style="border-right-width: 0;">
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.SN" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.TagNumber" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.ProductName" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.Description" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.ReplacementSchedule" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.xp.LeadTime" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <input type="text" class="form-control input-sm" ng-model="line.UnitPrice" ng-enter="order.NoOp()" />
                     </td>
                     <td>
                         <!--<input type="number" class="form-control input-sm" ng-model="line.Quantity" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-enter="order.NoOp()" />-->
                         <input type="number" class="form-control" ng-min="0" ng-pattern="/^[0-9]{1,5}$/" pattern-err-type="wholenumber" ng-model="line.TempQty" />
                     </td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, line)" ng-bind-html="order.labels.Edit" ng-click="order.AddLineItem(line)"></span>
                             <span class="label label-danger" ng-bind-html="order.labels.Removed"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td ng-if="order.Order.xp.Status!='RE' && order.Order.xp.Status!='ER'" ng-bind-html="order.Order.xp.ShippingDescription"></td>
                     <td ng-if="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'">
                         <input type="text" class="form-control" name="ShippingDescription" ng-model="order.Order.xp.ShippingDescription"
                                maxlength="100" required ng-trim="false" placeholder="Carriage Type">
                     </td>
                     <td></td>
                     <td></td>
                     <td ng-if="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'">
                         <input type="text" class="form-control" name="ShippingPrice" ng-model="order.Order.ShippingCost"
                                ng-pattern="/^[0-9\.]*$/" required ng-trim="false" palceholder="Carriage Rate">
                     </td>
                     <td ng-switch on="order.Order.xp.CustomerID | weirGroupFromBuyersID" class='text-right' ng-if="order.Order.xp.Status!='RE' && order.Order.xp.Status!='ER'">
                         <span ng-switch-when="WPIFR" ng-bind-html="order.Order.ShippingCost | currency:'&euro; '"></span>
                         <span ng-switch-when="WVCUK" ng-bind-html="order.Order.ShippingCost | currency:'&#163; '"></span>
                         <span ng-switch-default ng-bind-html="order.Order.ShippingCost | currency:'&#163; '"></span>
                     </td>
                     <td></td>
                     <td style="border:0;width:100px;">
                         <h4>
                             <span class="label label-default" ng-show="order.ShowEdit(order.Order.xp.Status, order.ShippingCost)" ng-bind-html="order.labels.Edit" ng-click="order.EditOrderShipping()"></span>
                             <span class="label label-warning" ng-show="order.ShowUpdatedShipping()" ng-bind-html="order.labels.Updated"></span>
                         </h4>
                     </td>
                 </tr>

                 <tr ng-if="order.LineItems.length > 0">
                     <td class="button-th" colspan="5"></td>
                     <td ng-bind-html='order.labels.Total'></td>
                     <td ng-switch on="order.Order.xp.CustomerID | weirGroupFromBuyersID" class='text-right'>
                         <span ng-switch-when="WPIFR" ng-bind-html="order.Order.Total | currency:'&euro; '"></span>
                         <span ng-switch-when="WVCUK" ng-bind-html="order.Order.Total | currency:'&#163; '"></span>
                         <span ng-switch-default ng-bind-html="order.Order.Total | currency:'&#163; '"></span>
                     </td>
                 </tr>
                 </tbody>
             </table>
         </div>
         <div class="col-xs-3">
             <div class="pull-right" style="padding: 30px 25px 0px 0px; float: right;">
                 <p><a ng-if="order.Order.xp.Type == 'Quote' && order.Order.xp.Status!='SB' && order.Order.xp.Status!='SP'" href="#" ng-click="order.BackToList()">Back to Quotes</a></p>
                 <p><a ng-if="order.Order.xp.Type == 'Order'" href="#" ng-click="order.BackToList()">Back to Orders</a></p>
                 <p><button type="button" class="btn btn-primary btn-lg" style="background-color: darkgreen;" ui-sref="productSearch" ng-bind-html='order.labels.AddNewItems' ng-show="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'" ng-if="order.ShowAddItems()"></button></p>
                 <p><button type="button" class="btn btn-primary btn-lg" style="background-color: darkgreen;" ng-click="order.AddBlankItem()" ng-bind-html='order.labels.AddABlankItem' ng-show="order.Order.xp.Status=='RE' || order.Order.xp.Status=='ER'" ng-if="order.ShowAddItems()"></button></p>
             </div>
         </div>
     </div>

    <div class="row" style="padding: 5px 5px 5px 5px;">
        <div class="col-xs-6">
            <!-- ToDo footer stuff -->
            <strong><span ng-bind-html='order.labels.DelieveryAddress'></span></strong><br />
            <div ng-if="order.DeliveryAddress.Country=='FR'">
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                <span ng-bind-html="order.DeliveryAddress.Street1"></span><br>
                <span ng-bind-html="order.DeliveryAddress.Street2" ng-if="order.DeliveryAddress.Street2"></span><br ng-if="order.DeliveryAddress.Street2">
                <span ng-bind-html="order.DeliveryAddress.xp.Street3" ng-if="order.DeliveryAddress.xp.Street3"></span><br ng-if="order.DeliveryAddress.xp.Street3">
                <span ng-bind-html="order.DeliveryAddress.Zip"></span> <span ng-bind-html="order.DeliveryAddress.City"></span><br>
                <span ng-bind-html="order.country(order.DeliveryAddress.Country)"></span>
            </div>
            <div ng-if="order.DeliveryAddress.Country=='GB'">
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                <span ng-bind-html="order.DeliveryAddress.Street1"></span><br>
                <span ng-bind-html="order.DeliveryAddress.Street2" ng-if="order.DeliveryAddress.Street2"></span><br ng-if="order.DeliveryAddress.Street2">
                <span ng-bind-html="order.DeliveryAddress.xp.Street3" ng-if="order.DeliveryAddress.xp.Street3"></span><br ng-if="order.DeliveryAddress.xp.Street3">
                <span ng-bind-html="order.DeliveryAddress.City"></span><br>
                <span ng-bind-html="order.DeliveryAddress.Zip"></span><br>
                <span ng-bind-html="order.country(order.DeliveryAddress.Country)"></span>
            </div>
            <div ng-if="order.DeliveryAddress.Country!='GB' && order.DeliveryAddress.Country!='FR'">
                <span ng-bind-html='order.DeliveryAddress.FirstName + " " + order.DeliveryAddress.LastName'></span><br />
                <span ng-bind-html="order.DeliveryAddress.Street1"></span><br>
                <span ng-bind-html="order.DeliveryAddress.Street2" ng-if="order.DeliveryAddress.Street2"></span><br ng-if="order.DeliveryAddress.Street2">
                <span ng-bind-html="order.DeliveryAddress.xp.Street3" ng-if="order.DeliveryAddress.xp.Street3"></span><br ng-if="order.DeliveryAddress.xp.Street3">
                <span ng-bind-html="order.DeliveryAddress.City"></span>, <span ng-bind-html="order.DeliveryAddress.State"></span> <span ng-bind-html="order.DeliveryAddress.Zip"></span><br>
                <span ng-bind-html="order.country(order.DeliveryAddress.Country)"></span>
            </div>
        </div>
        <div class="col-md-6" style="float: right">
            <!-- ToDo footer stuff -->
            <strong><span ng-bind-html='order.labels.YourAttachments'></span></strong><br />
            <p ng-repeat="fileName in order.Order.xp.Files">
                <a href="" ng-click="order.GetFile(fileName)" target="_blank" ng-bind-html="fileName"></a>
            </p>
            <p ng-hide="order.Order.xp.Status=='SE'||order.Order.xp.Status=='CQ'">
                <a href="" ng-click="order.GetFile(order.Order.xp.PODocument)" target="_blank" ng-bind-html="order.Order.xp.PODocument"></a>
            </p>
        </div>
    </div>
    <div class="row" style="padding: 5px 5px 5px 5px;">
        <div class="col-xs-6">
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li class="active comments"><a href="#" id="Comments" ng-bind-html="order.labels.Comments"></a></li>
                    </ul>
                </div>
            </div>
            <br>
            <div class="row" ng-repeat="comment in order.Order.xp.CommentsToWeir | reverseComments"> <!-- ng-repeat comment in comments to weir -->
                <div class="col-lg-12">
                    <div>
                        <span ng-bind-html="comment.by"></span>
                        <span ng-bind-html="order.labels.AddedComment"></span>
                        <span ng-bind-html="comment.date | weirdate"></span>
                    </div>
                    <br>
                    <div>
                        <span ng-bind-html="comment.val"></span>
                    </div>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <textarea cols="100" rows="6" ng-model="order.CommentToWeir"></textarea>
                    <br>
                    <button class="btn btn-lg btn-primary" ng-bind-html="order.labels.Add" ng-click="order.AddNewComment()"></button>
                    <button class="btn btn-lg btn-default" ng-bind-html="order.labels.Cancel" ng-click="order.CommentToWeir=null"></button>
                </div>
            </div>
        </div>
    </div>
</article>