<div>
    <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h3><span ng-bind-html='info.labels.OrderNumber'></span><span style="margin-left: 1em;" ng-bind-html="info.Order.ID"></span></h3>
        </div>
   </div>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <h4><span ng-bind-html=''></span></h4>
        </div>
        <div class="col-md-3">
            <a class="pull-right" href="#" ng-click="order.BackToList()" ng-bind-html="info.labels.BackToOrders"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form name="updateOrderInfo" novalidate>
                <!-- in case the validation for each field is different decoupling them.-->
                <div class="form-group" >
                    <label ng-bind-html='info.labels.ContractNumber'></label>
                    <input type="text" name="ContractNumber" class="form-control" ng-model="info.Order.xp.ContractNumber" placeholder="Please enter a contract number">
                </div>
                <div class="form-group">
                    <!-- http://plnkr.co/edit/N9Hk9QFIfj3IXfHoWwbt?p=preview -->
                    <label ng-bind-html='info.labels.DeliveryDate'></label><br />
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="info.Order.xp.DeliveryDate"
                            is-open="info.popupDelivery.opened" datepicker-options="info.dateOptions" close-text="Close" width="20"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="info.openDelivery()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>

                </div>
                <div class="form-group">
                    <label ng-bind-html='info.labels.DespatchDate'></label><br />
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="info.Order.xp.DateDespatched"
                            is-open="info.popupDespatched.opened" datepicker-options="info.dateOptions" close-text="Close" alt-input-formats="info.altInputFormats" width="20"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="info.openDespatched()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>

                <p><b>Your customer will be sent a notification when you save details on this page</b></p>
                <button type="submit" class="btn btn-primary" ng-disabled="updateOrderInfo.$pristine" ng-click="info.Save(info.Order)" ng-bind-html='info.labels.Save'></button>
                <button type="submit" class="btn btn-primary" ng-click="info.Cancel()" style="background-color: whitesmoke; color: blue;" ng-bind-html='info.labels.Back'></button>
            </form>
        </div>
    </div>
</div>