<div>
    <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h3><span ng-bind-html='info.labels.OrderNumber'></span><span style="margin-left: 1em;">{{info.Order.ID}}</span></h3>
        </div>
   </div>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <h4><span ng-bind-html='detail.labels.UploadHeader'></span></h4>
        </div>
        <div class="col-md-3">
            <a class="pull-right" href="#" ng-click="info.BackToOrders()" ng-bind-html="info.labels.BackToOrders"></a>
        </div>
    </div>
</div>
