<div>
    <div class="row" style="padding-top:20px;">
        <div class="col-md-8">
            <h3><span ng-bind-html='info.labels.OrderNumber'></span><span style="margin-left: 1em;">{{info.Order.ID}}</span></h3>
        </div>
   </div>
    <hr/>
    <div class="row">
        <div class="col-md-9">
            <h4><span ng-bind-html='detail.labels.UploadHeader'></span></h4>
        </div>
        <div class="col-md-3">
            <a class="pull-right" href="#" ng-click="info.BackToOrders()" ng-bind-html="info.labels.BackToOrders"></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form name="updateOrderInfo" novalidate>
                <!-- in case the validation for each field is different decoupling them.-->
                <div class="form-group" >
                    <label ng-bind-html='info.labels.ContractNumber'></label>
                    <input type="text" name="ContractNumber" class="form-control" ng-model="info.Order.xp.ContractNumber" placeholder="Please enter a contract number">
                </div>
                <!-- in case the validation for each field is different decoupling them.-->
                <div class="form-group" >
                    <label ng-bind-html='info.labels.DeliveryDate'></label><br />
                    <input type="date" datetime="yyyy-MM-dd" ng-model="info.Order.xp.DelieveryDate" placeholder="Please enter a date"> </input>

                </div>
                <!-- in case the validation for each field is different decoupling them.-->
                <div class="form-group" >
                    <label ng-bind-html='info.labels.DespatchDate'></label><br />
                    <input type="date" ng-model="info.Order.xp.DateDespatched" placeholder="Please enter a date"> </input>
                </div>
                <!-- in case the validation for each field is different decoupling them.-->
                <div class="form-group" >
                    <label ng-bind-html='info.labels.InvoiceNum'></label>
                    <input type="text" name="InvoiceNumber" class="form-control" ng-model="info.Order.xp.InvoiceNumber" placeholder="Please enter an invoice number">
                </div>
                <p><b>Your customer will be sent a notification when you save details on this page</b></p>

                <button type="submit" class="btn btn-primary" ng-disabled="updateOrderInfo.$pristine" ng-click="info.Save(info.Order)" ng-bind-html='info.labels.Save'></button>
                <button type="submit" class="btn btn-primary" ng-click="info.Cancel()" style="background-color: whitesmoke; color: blue;" ng-bind-html='info.labels.Cancel'></button>
            </form>

    </div>
</div>
