<article id="COMPONENT_Catalogs" ui-view class="container-fluid">
    <div class="page-header">
        <h3>Catalogs</h3>
    </div>

    <!--====== SEARCH/FILTERS ======-->
    <div class="no-matches" ng-if="!catalogs.list.Items.length">
        <b>No catalogs found.</b>
    </div>
    <div ng-if="catalogs.list.Items.length">
        <table class="table table-hover oc-table-responsive">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="c in catalogs.list.Items track by c.ID">
                <th scope="row">{{c.ID}}</th>
                <td data-title="Name">{{c.Name}}</td>
                <td data-title="Name">{{c.Description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</article>
