<article id="COMPONENT_Currencies" class="container-fluid">
    <h3 class="page-header">
        <b>Manage Currencies</b>
    </h3>
        <!-- header -->
    <nav>
        <ol class="nav navbar-nav nav-printContent">
            <li role="presentation" class="" ng-class="{active: currency.SelectedCurrency == 'EUR'}" ng-if="currency.Group == 'WVCUK'">
                <a href="#" ng-click="currency.SelectCurrency('EUR')">EUR</a></li>
            <li role="presentation" class="" ng-class="{active: currency.SelectedCurrency == 'GBP'}" ng-if="currency.Group == 'WPIFR'">
                <a href="#" ng-click="currency.SelectCurrency('GBP')">GBP</a></li>
            <li role="presentation" class="" ng-class="{active: currency.SelectedCurrency == 'USD'}">
                <a href="#" ng-click="currency.SelectCurrency('USD')">USD</a></li>
            <li role="presentation" class="" ng-class="{active: currency.SelectedCurrency == 'AUD'}" ng-if="currency.Group == 'WVCUK'">
                <a href="#" ng-click="currency.SelectCurrency('AUD')">AUD</a></li>
            <li role="presentation" class="" ng-class="{active: currency.SelectedCurrency == 'ZUR'}" ng-if="currency.Group == 'WVCUK'">
                <a href="#" ng-click="currency.SelectCurrency('ZAR')">ZAR</a></li>
        </ol>
    </nav>

    <div class="row">
        <div class='col-md-12'>
            <h3>{{currency.labels.Selection + currency.SelectedCurrency}}</h3>
        </div>
    </div>
    <p></p>
    <div class="row">
        <div class='col-md-12'>
            <h4>{{currency.labels.AddNew}}</h4>
        </div>
    </div>
    <p></p><p></p><p></p>
    <form name="NewRateForm" novalidate>
        <div class="row">
            <div class="col-md-2">
                <label for="from">From</label>
            </div>
            <div class="col-md-2"><label for="rate">Exchange rate</label></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p class="input-group">
                    <!--<input id="from" type="date" ng-model="currency.NewStartDate" min="currency.MinDate" max="currency.MaxDate" class="form-control" required>-->
                    <input name="NewStartDate" type="text" class="form-control text-calendar" uib-datepicker-popup="dd/MM/yyyy" ng-model="currency.NewStartDate"
                           is-open="currency.popupStart.opened" datepicker-options="currency.dateOptions" close-text="Close" alt-input-formats="currency.altInputFormats" width="20"
                            min-date="currency.MinDate" max-date="currency.MaxDate" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-calendar" ng-click="currency.openStart()"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </p>
            </div>
            <div class="form-group col-md-2">
                <input id="rate" type="number" ng-model="currency.NewRate" min="0.01" class="form-control" required>
            </div>
            <div class="form-group col-md-2">
                <button id="save" class="btn btn-primary" type="button" ng-click="currency.SaveNewRate()" ng-disabled="NewRateForm.$invalid">Save</button>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="form-group col-md-8">
            <hr />
        </div>
    </div>

    <!-- Bottom Table -->
    <div class="row">
        <div class='col-md-12'>
            <h4>{{currency.labels.HistoryHeader}}</h4>
        </div>
    </div>
    <p></p>
    <div class="row" style="font-weight: bold;">
        <div class="form-group col-md-2">
            <span>From</span>
        </div>
        <div class="form-group col-md-2">
            <span for="to">To;</span>
        </div>
        <div class="form-group col-md-2">
            <span for="rate">Exchange rate</span>
        </div>
    </div>
    <div class="row" ng-repeat="rate in currency.SelectedRateHistory">
        <div class="form-group col-md-2">
            {{rate.Start | weirdateonly}}
        </div>
        <div class="form-group col-md-2">
            {{rate.End | weirdateonly}}
        </div>
        <div class="form-group col-md-2">
            <span>{{rate.Rate}}</span> <span ng-if="currency.Today >= rate.Start && (!rate.End || rate.End >= currency.Today)" style="color: red">** Current rate</span>
        </div>
    </div>
</article>