#COMPONENT_Orders {
  padding-top:15px;
  //background-color:@component-home-bg;

  .centered {
    text-align:center;
    margin: auto;
  }

  ul {
    width: 100%;
    text-align:center;
  }

  .navbar-nav > li {
    display:inline-block;
    float: none;
  }

  .borderbox {
    border: 1px solid #999988;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 8px;
  }

  .active {
    text-decoration: underline;
  }

  .btn-x {
    background-image: 'assets/images/X.svg';
  }
}