<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#BASE_TOP_COLLAPSE" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="" ui-sref="home">{{application.name}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="BASE_TOP_COLLAPSE">
            <ul class="nav navbar-nav navbar-right">
                <li uib-dropdown ng-if="!base.currentUser.Anonymous && base.IsAdmin">
                    <a href="#" uib-dropdown-toggle role="button">{{base.labels.admin}} <span class="caret" /></a>
                    <ul uib-dropdown-menu>
                        <li><a href="" ui-sref="adminUsers">{{base.labels.admin}}</a></li>
                        <li><a href="" ui-sref="standardDelivery">{{base.labels.standardDelivery}}</a></li>
                        <li ng-if="base.currentUser.xp.WeirGroup.label == 'WPIFR'"><a href="" ui-sref="poPrintContent.FR">{{base.labels.poPrintContent}}</a></li>
                        <li ng-if="base.currentUser.xp.WeirGroup.label != 'WPIFR'"><a href="" ui-sref="poPrintContent">{{base.labels.poPrintContent}}</a></li>
                        <li><a href="" ui-sref="enquiries">Enquiry Administration</a></li> <!-- TODO -->
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous && base.CanEditCustomers">
                    <a href="#" uib-dropdown-toggle role="button">{{base.labels.customers}} <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li><a href="" ui-sref="customers">{{base.labels.customers}}</a></li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
                    <a href="#" uib-dropdown-toggle role="button">{{base.labels.orders}} <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li><a href="" ng-click="base.OrderAction('EnquiryQuotes')">{{base.labels.enquiryQuotes}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('ReviewQuotes')">{{base.labels.quotesForReview}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('RevisedQuotes')">{{base.labels.revisedQuotes}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('ConfirmedQuotes')">{{base.labels.confirmedQuotes}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('POOrders')">{{base.labels.ordersSubmittedPO}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('PendingPO')">{{base.labels.pendingPO}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('RevisedOrders')">{{base.labels.revisedOrders}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('ConfirmedOrders')">{{base.labels.confirmedOrders}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('DespatchedOrders')">{{base.labels.despatched}}</a></li>
                        <li><a href="" ng-click="base.OrderAction('AllOrders')">{{base.labels.allOrders}}</a></li>
                    </ul>
                </li>
                <li uib-dropdown ng-if="!base.currentUser.Anonymous">
                    <a href="#" uib-dropdown-toggle role="button"><i class="fa fa-user"></i> Account <span class="caret"></span></a>
                    <ul uib-dropdown-menu>
                        <li class="dropdown-header">{{base.currentUser.FirstName + ' ' + base.currentUser.LastName}}</li>
                        <li><a href="" ui-sref="account">Account</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="application.logout()">Logout</a></li>
                    </ul>
                </li>
                <li ng-if="base.currentUser.Anonymous && base.registrationAvailable">
                    <a href="" ui-sref="registration" ui-sref-active="active">Register/Login</a>
                </li>
                <li>
                    <ordercloud-minicart order="catalog.currentOrder"></ordercloud-minicart>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
        <a href="#" class="pull-right" ng-click="base.showFeedbackForm()">Beta feedback</a>
    </div><!-- /.container-fluid -->
</nav>
