<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse" id="BASE_BOTTOM_COLLAPSE">
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="">Terms of Use</a>
                </li>
                <li>
                    <a href="">Cookie Policy</a>
                </li>
                <li>
                    <a href="">Privacy Statement</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </div>
        <div class="copyright-statement">
            <a href="">
                Copyright Statement
            </a>
        </div>
    </div>
</nav>
